
<mat-list role="list">
    <div class="profile-card">
        <img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-administration-icon-in-trendy-style-isolated-background-png-image_4828341.jpg" alt="No Img">    
        <h3>ADMINISTRATOR</h3>
        <h4>admin@xyz.com</h4>
    </div>
    <mat-divider></mat-divider>
    <h4 mat-subheader>Pages</h4>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashbord</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees</a>
  </mat-list>